<!DOCTYPE html>
<html lang="en">
<head>
    <script src="app.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Homepage</title>
</head>
<body>
    <h1 style="font-size: 3.5rem; text-align: center;"><%=cityName%>, <%=countryName%></h1>
    <h2 style="font-size: 1.5rem; text-align: center;"><%=weatherCondition%></h2>
    <img style="display: block; margin: auto;" src="<%=icon%>" alt="">
    <h1 style="font-size: 8rem; text-align: center;"><%=temp%>°F</h1>
    <h2 style="font-size: 1.5rem; text-align: center;">max: <%=max%>°F</h2>
    <h2 style="font-size: 1.5rem; text-align: center;">min: <%=min%>°F</h2>
    <h2 style="font-size: 1.5rem; text-align: center;">Humdity: <%=humidity%>%</h2>

    <hr>
    <div style="display: block; text-align: center;">
        <form stlye="margin: 0 auto; width: 250px;" action="/" method="POST">            
            <label style="margin: 0.3rem;">Your location:</label>
            <input style="margin: 0.3rem;" type="text" name="city" placeholder="ex: San Diego">
            <button style="margin: 0.3rem;" type="submit" class="btn btn-primary mb-2">Get Weather</button>
        </form>
    </div>

</body>
</html>